.App {
  box-sizing: border-box;
}

.App header {
  width: 100vw;
  height: 80vh;
  position: relative;
}

.App h1 {
  font-size: 110px;
  padding-left: 40px;
  color: white;
  font-weight: 800;
  position: absolute;
  bottom: 25%;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.App .img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-image: url(img/screenshot-grid.png);
  background-size: cover;
  filter: brightness(95%) saturate(80%) contrast(95%);
}

.App section {
  max-width: 635px;
  padding: 20px;
  margin: 50px auto;
}
