body {
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  color: #222;
}

p {
  line-height: 140%;
  font-size: 18px;
  text-size-adjust: 100%;
  padding-bottom: 3em;
}
